.noteItem {
  background-color: #eee;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem 0.8rem;
  width: 18.75rem;
  margin: 0 1rem 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 0.125rem;
}

.noteTitle, .noteText {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.noteTitle {
  margin-bottom: 0.3rem;
  width: 94%;
}

.noteTextBlock {
  width: 100%;
}

.noteText {
  background-color: #fff;
  width: 100%;
  color: #737373;
  font-size: 0.85rem;
  padding: 0.5rem;
  min-height: 5.625rem;
}

textarea.noteText {
  outline: none;
  border: 0.0625rem solid #e0e0e0;
}

.noteTodos {
  background-color: #fff;
  color: #737373;
  font-size: 0.85rem;
  padding: 0.5rem;
  min-height: 5.625rem;
}

.todoList {
  display: flex;
  width: 100%;
  flex-direction: column;
}
