.title {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 1rem;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.menuItem {
  margin: 0;
  padding: 1rem 2rem;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.link {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #777;
}

.menuItemText {
  color: #777;
}
