.title {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5rem;
}

.menuItem {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
  padding: 0.8rem;
  border-top: 0.0625rem solid #e0e0e0;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.menuItemText {
  color: #777;
}
