* {
  box-sizing: border-box;
}

input[type=text]::-ms-clear {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #202020;
}

input, textarea {
  font-family: 'Roboto', sans-serif !important;
  color: #202020;
  font-size: 0.8rem;
}

.main {
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
}
